.container {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
}

.list {
    margin: 16px 0px;
    border-style: solid;
    border-radius: 8px;
    border-color: #ffffff;
    display: flex;
    width: 100%;
}

.name {
    flex: 1;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3em;
    align-self: center;
}

.description {
    flex: 3;
    padding: 5px;
    font-size: 0.75em;
    width: 100%;
    max-width: 100%;
}

.rating {
    padding: 10px;
    flex: 1;
    align-self: center;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.button {
    align-self: center;
    max-width: 30px;
    max-height: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}


.up {
    transform: rotate(-135deg) translateX(3px) translateY(3px);
    -webkit-transform: rotate(-135deg) translateX(3px) translateY(3px);
}

.down {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    -webkit-transform: rotate(45deg) translateX(-5px) translateY(-5px);
}

.arrow {
    display: inline-block;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #90fff9;
}